html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f6f8;
  color: #263238;
}

.mat-mdc-form-field {
  width: 100%;
}
